<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.backend.board.mapper.BoardMapper">
	<insert id="writeBoard" parameterType="BoardModel">
		INSERT
		INTO BOARD (
			title, 
			content, 
			writer, 
			date, 
			photoPath1, 
			photoPath2, 
			photoPath3, 
			photoPath4, 
			recommend, 
			viewCount
		)
		VALUES (
			#{title},
			#{content},
			#{writer},
			#{date},
			#{photoPath1},
			#{photoPath2},
			#{photoPath3},
			#{photoPath4},
			#{recommend},
			#{viewCount}
		)
	</insert>

</mapper>