<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.backend.comment.mapper.CommentMapper">
	<insert id="boardComment" parameterType="CommentModel">
		INSERT
		INTO comment (
			boardID,
			comment,
			parentComment,
			content,
			userID,
			date,
			recommendCnt
		)
		VALUES (
			#{boardID},
			#{commentID},
			#{parentComment},
			#{content},
			#{userID},
			#{date},
			#{recommendCnt}
		)
	</insert>
	<insert id="feedComment" parameterType="CommentModel">
		INSERT
		INTO comment (
			feedID,
			comment,
			parentComment,
			content,
			userID,
			date,
			recommendCnt
		)
		VALUES (
			#{feedID},
			#{commentID},
			#{parentComment},
			#{content},
			#{userID},
			#{date},
			#{recommendCnt}
		)
	</insert>
	<select id="getBoardComment" parameterType="int" resultType="CommentModel">
		SELECT * FROM comment where boardID = #{boardID}
	</select>
	<select id="getFeedComment" parameterType="int" resultType="CommentModel">
		SELECT * FROM comment where feedID = #{feedID}
	</select>
</mapper>