.imgbox{
    justify-content: center;
}
button {
    margin: 20px 0;
    padding: 0.8em;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    background: #ffa061;
  }
  .photo{
      display: flex;
      flex-wrap: wrap;
  }
  .top{
    align-content: center;
  }